.element {
    width: 120px;
    height: 160px;
    cursor: default;
}

.element .number {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    color: rgba(127,255,255,0.75);
}

.element .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
}

.element .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    object-fit: "cover";
}

.element .image img:hover {
    box-shadow: 0 0 12px rgba(0,255,255,0.75);
    border: 1px solid rgba(127,255,255,0.75);
}

